.color {
	color: blue;
}
.large {
	font-size: 22px;
}
.border {
	border: 5px dotted;
}
.rounded {
	border: 5px dotted;
	border-radius: 25%;
}
#intro {
	font-weight: bold;
}
#ending{
	font-weight: bold;
	font-style: italic;
}